.header {
  display: flex;
  max-width: var(--max-w-mobile);
  margin: auto;
  padding: 1em 0em;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.header .containerButton .headerButton {
  width: 10em;
  height: 3em;
  font-size: 14px;
  font-weight: 600;
  border: 1.75px solid;
}

.logo {
  width: 7em;
}

@media screen and (min-width: 768px) {
  .header {
    gap: 32px;
    align-items: center;
    background-color: var(--white);
    padding: 2em 20em;
  }

  .containerButton {
    margin-left: auto;
  }
}
